
%div.dataset-group
  %div.container.span12(id="#{normalized_group_name dataset_group.first}-dataset-type")

    %h2= dataset_group.first
    -# %p= dataset_group

    - dataset_group[1].each do |dataset|
      = partial "dataset_preview", { :locals => {:dataset => dataset}}
      %hr
       
