---
title: Who is the best at X ?
---


%div.jumbotron
  %h1.shadow-title Are we there yet ?

  %p.lead
    Did you ever want to <em>quickly</em> learn<br>
    which paper provides the best results on standard dataset X ?<br>
    Wait no more, just
    %a(href="#datasets")click below
    and discover the current state of the art.
  
-# end of header

%section
  %div.container.span9#about
    %h1.page-header About <small>where does this data come from ?</small>
    :markdown
      Frustated by seeing too many papers omit the best performing methods,
      and inspired by [Hao Wooi Lim's blog](http://zybler.blogspot.de/2011/02/table-of-results-for-cifar-10-dataset.html),<br/>
      here you have a crowd sourced list of known result one some of the "major" visual classification, detection, and pose estimation datasets.<br/>
      
      You are most welcome to #{link_to "add new (or old) results", "new_result_form.html"}.

      Every entry on this page has been checked (once) by [me](http://rodrigob.github.com/#contact). 
      I might have made mistakes.<br/>
      Feel free to indicate any inacurracy in the listed data.
      <!-- You can also see the [not-yet curated entries](https://docs.google.com/spreadsheet/ccc?key=0AqLzqcYZJN2cdEhBMlFpUzU2OTZHUXNoWW1aNlJvOUE&usp=sharing). -->
      
      Many thanks to the dozens of <!-- (anymous) --> contributors who have helped build this collection.

%section
  %div.container.span9#datasets
    %h1.page-header Datasets <small>who is the best at X ?</small>
      

    %div.btn-group.dataset-type
      - data.datasets.each do |d|
        %a(href="##{normalized_group_name d.first}-dataset-type" class="btn")= d.first

    %p

    - data.datasets.each do |group|
      = partial "dataset_group", { :locals => {:dataset_group => group}}
      
    -# %p= data.datasets
    
   
