---
title: Pose estimation datasets results
---


%div.jumbotron
  %h1 Where are the objects parts in the image ?

  %p.lead
    Discover the current state of the art in pose estimation.
  
-# end of header

%div.row.datasets-list
  %ul.span4.offset2.nav.nav-stacked.nav-pills
    - data.datasets["Pose estimation"].each do |dataset|
      -# %li= link_to dataset.name, anchor:dataset_anchor(dataset)
      %li= link_to dataset.name, ("#" + dataset_anchor(dataset))

- data.datasets["Pose estimation"].each do |dataset|
  = partial "dataset_results", { :locals => {:dataset => dataset}}
  -# %hr

    
   


