## editors
/.idea
/.vscode

## system files
.DS_Store

## npm
/node_modules/
/npm-debug.log

## testing
/coverage/

## temp folders
/.tmp/

# Generated assets
/assets/*.gv.json
noname.gv.xdot

# build
/_site/
/dist/
/out-tsc/
/.rollup.cache/
tsconfig.tsbuildinfo

storybook-static
custom-elements.json
